<%= link_to 'Home Page', root_path %>

<h1>Users</h1>
<table>
  <thead>
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td>
        <%if user.has_role?(:admin)%>
          <%= form_tag("/admins/" + user.id.to_s + "?role=user", method: :PUT) do %>
            <input type="submit" value="Remove Admin"/>
          <% end %>
        <%else%>
          <%= form_tag("/admins/" + user.id.to_s + "?role=admin", method: :PUT) do %>
            <input type="submit" value="Make Admin"/>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
