<div class="row">
  <div class="col-md-12">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Hoppy Crawl <i class="fa fa-beer" aria-hidden="true"></i></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Log In</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</div>

<br>
<div class="row" id="hoptoit">
  <div class="col-md-12">
    <h3>HOP TO IT!</h3>
    <form action="/" method="get">
      <input type="text" name="search" placeholder="Enter Zip Code">
      <input type="submit" value="Crawl">
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="three-p">

      <!-- <img src="#"> --><i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
      <h4>plot</h4>
      <p>Lorem ipsum dolor sit amet, fugit vestibulum, lacinia quam, vestibulum mauris integer feugiat, nunc sapien ut is tincidunt lacus lobortis amet tellus. Nonummy tincidunt ligula sed pede sociosqu hendrerit. Suscipit vel non, turpis dapibus arcu libero mi morbi vel. Porro ac in massa nec, molestie ac nunc vestibulum, libero etiam aliquam.
</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="three-p">
      <!-- <img src="#"> --><i class="fa fa-calendar fa-5x" aria-hidden="true"></i>

      <h4>plan</h4>
      <p>am, porro donec sed. Sed elit, sapien tempus suscipit dapibus sit aliquam sagittis, sagittis erat, cras elit, lorem vel. Gravida vitae justo amet at gravida, non massa sit curabitur condimentum m ac tempor massa, porta in suspendisse massa morbi dolor. Ut consequat ut. Vel mollis lobortis dis rutrum adipiscing eros, sit volutpat mi erat. Duis justo mattis, maur</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="three-p">
      <!-- <img src="#"> --> <i class="fa fa-users fa-5x" aria-hidden="true"></i>
      <h4>party</h4>
      <p>i. Sed morbi vel pellentesque maecenas posuere, mi a leo diam velit id, tincidunt id neque lacus vehicula rhoncus, in tortor consequat. Nunc wisi aenean sit magnis phasellus tellus, ligula vestibulum aliquam viverra augue dolor lacus, cras</p>
    </div>
  </div>
</div>
