
<% if cookies[:accepted].blank? %>
  <div id="myModal" class="modal">

    <div class="modal-content">
      <i class="fa fa-beer fa-5x" aria-hidden="true"></i>
      <p>Are you 21 or over?</p>
      <div class="row">
        <div class="col-md-2 col-md-offset-4">
          <input type="button" onclick="location.href='https://www.youtube.com/watch?v=6-HUgzYPm9g';" value="NO">
        </div>
        <div class="col-md-2">
          <form action="/crawls/age_verified" method="GET">
            <input id="yesButton" type="submit" name="accepted" value="YES!">
          </form>
        </div>
      </div>
    </div>
  <!-- link_to "I accept", :controller => 'welcome', :action => 'accept_and_redirect' -->
  </div>
<%end%>



<!-- moved navbar into application.html.erb file -->


<br>
<div class="row" id="hoptoit">
  <div class="col-md-12">
    <h3>HOP TO IT!</h3>
    <%= form_tag("/crawls/create") do %>
      <%= text_field_tag 'address', nil, placeholder: "Enter Location" %>
      <%= submit_tag 'Crawl' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="three-p">

      <!-- <img src="#"> --><i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
      <h4>plot</h4>
      <p>Bring the adventure right to your fingertips. Randomly generate a beer crawl regardless of your location!  </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="three-p">
      <!-- <img src="#"> --><i class="fa fa-calendar fa-5x" aria-hidden="true"></i>

      <h4>plan</h4>
      <p>Edit, share, and rate your favorite crawls with your friends! Keep in touch with your favorite breweries, and keep up to date on all new beer releases!</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="three-p">
      <!-- <img src="#"> --> <i class="fa fa-users fa-5x" aria-hidden="true"></i>
      <h4>party</h4>
      <p>Hop to it and get your crawl on! Grab your best friends, get out, and explore your city the beer way. </p>
    </div>
  </div>
</div>
