// Place all the styles related to the Crawls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar{
  background-color: transparent;
  border-style: none;
}

.navbar-brand{
  font-size: 3.5rem;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #f7c311;

}

 .navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: #5A91EE;
}

.navbar-default .navbar-brand {
  color: white;
}

// yellow #f7c311

#crawl_map {
  width: 500px;
  height: 500px;
}

.three-p{
  text-align: center;
  padding-top: 50px;
}

#center_piece{
  text-align: center;
  // padding-top: 100px;
}

#socialicons {
  margin-left: auto;
  margin-right: auto;
  display:block;
  padding-top: 10px;
  // background-color: white;
}

.fa {
  // height: 100px;
  margin: 5px;
  color: #f7c311;
  // background-color: white;
}


.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    // background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color:rgba(255,255,255,0.8);
    margin: 15% auto; /* 15% from the top and centered */
    padding-top: .05px;
    border: 0px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    height: 50%;
    color: black;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.8rem;
}

#age_check {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5rem;
}

#logo{
  height: 305px;
  width: 305px;
}

body#crawls_landing_page {
  background: image-url("mainimage2.png") no-repeat center center fixed;
  visibility: inherit;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body#crawls_show {
  background: image-url("new_crawl_img.png") no-repeat center center fixed;
  visibility: inherit;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.hoptoit{
  padding: 180px;
  // background: rgba(24, 0, 0, 0.3);
  width: 100%
}

span{
  color: #f7c311;
}

#crawl_field{
  color: #5A91EE;
  height: 30px;
  width: 200px;
  text-align: center;
  font-size: 1.7rem;
}

#crawl_button{
  color: #FFF;
  // main citrus color//
  background-color: #f7c311;
  width: 80px;
  height: 40px;
  font-size: 2rem;
  border-radius: 5px;
}

#hop_text{
  font-size: 9rem;
}

a:visited{
  color: #5A91EE;
}


// crawl page index styling all here

#crawl_name{
  font-size: 2.3rem;
  text-align: center;
}

#crawls_index{
  background: image-url("new_crawl_img.png") no-repeat center center fixed;
  background-size: cover;
}

#crawl_table{
  margin-left: auto;
  margin-right: auto;
}

#new_crawl_link {
  font-size: 1.8rem;
}

.crawl_link{
  font-size: 1.5rem;
  font-weight: bold;
}

#crawl_name_table{
  font-size: 1.5rem;
  font-weight: bold;
}

#crawls_page{
  text-align: center;
}

thead{
  padding-bottom: 300px;

}

input {
  color :#5A91EE;
}

.container {
  text-align: center;
}

select {
  color: #5A91EE;
}


input {
  color :#5A91EE;
}

.container {
  text-align: center;
}

h4, h5 {
  color: #f7c311;
}

.brewery_stop {
  label {
    color: #f7c311;
  }
}

.blue-text {
  color: #5A91EE;
  background-color: white;
  padding: 0px 3px 0px 3px;
}

.gm-style-iw {
  color: black;
}
