// Place all the styles related to the Crawls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar{
  background-color: transparent;
  border-style: none;
}

.navbar-brand{
  font-size: 3.5rem;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #f7c311;

}

 .navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: #5A91EE;
}

.navbar-default .navbar-brand {
  color: white;
}

// yellow #f7c311

#crawl_map {
  width: 500px;
  height: 500px;
}

.three-p{
  text-align: center;
  padding-top: 50px;
}

#center_piece{
  text-align: center;
  // padding-top: 100px;
}

#socialicons {
  margin-left: auto;
  margin-right: auto;
  display:block;
  padding-top: 10px;
  background-color: white;
}

.fa {
  // height: 100px;
  margin: 5px;
  color: #f7c311;
  background-color: white;
}


.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding-top: 112px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 40%;
    text-align: center;
}

body#crawls_landing_page {
  background: url("mainimage2.png") no-repeat center center fixed;
  visibility: inherit;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body#crawls_show {
  background: url("crawl_img.png") no-repeat center center fixed;
  visibility: inherit;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.hoptoit{
  padding: 180px;
  // background: rgba(24, 0, 0, 0.3);
  width: 100%
}

span{
  color: #f7c311;
}

#crawl_field{
  color: #5A91EE;
  height: 30px;
  width: 200px;
  text-align: center;
  font-size: 1.7rem;
}

#crawl_button{
  color: #FFF;
  // main citrus color//
  background-color: #f7c311;
  width: 80px;
  height: 40px;
  font-size: 2rem;
  border-radius: 5px;
}

#hop_text{
  font-size: 9rem;
}

a:visited{
  color: #5A91EE;
}
.user_links{
  color: #5A91EE;
}

input {
  color :#5A91EE;
}

.container {
  text-align: center;
}
