// Place all the styles related to the Crawls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.three-p{
  text-align: center;
  padding-top: 300px;
}

#hoptoit{
  text-align: center;
  padding-top: 200px;
}

footer{
  text-align: center;
  padding-top: 100px;
}

#socialicons{
  align-items: right;
  padding-top: 10px;
}
