body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #f7c311;
  font-size: 1.5rem;

  &:visited {
    color: #f7c311;
  }

  &:hover {
    color: #8db7fc;
    // background-color: #000;
  }
}

.holeOut {
  a {
    color: #000;

    &:visited {
      color: #666;
    }

    &:hover {
      color: #fff;
      // background-color: white;
    }
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

// social media animation start
@keyframes hvr-bob {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  // background-color: white;
}

.hvr-bob:hover {
   /* The name of the animation, defined in the @keyframes */
  animation: hvr-bob-float, hvr-bob;
  /* The duration of the animation, in seconds */
  animation-duration: .1s, 1.5s;
  /* The delay of the animation, in seconds */
  animation-delay: 0s, .2s;
  /* Specify how the animation progress over the duration of each cycle */
  animation-timing-function: ease-out, ease-in-out;
   /* Define the number of times an animation should cycle */
  animation-iteration-count: 1, infinite;
  /* Specify how the animation should apply styles to its target before and after executing */
  animation-fill-mode: forwards;
  /* Indicates whether the animation should play in reverse on alternate cycles */
  animation-direction: normal, alternate;
}

.magictime {
  animation: holeOut;
  animation-duration: .1s, 2s;
  animation-delay: 0s, .2s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 2 infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  // -o-animation-duration: 3s;
}

// social media animation end


#notice {
  color: #5A91EE;
  font-weight: bold;
}

.field_with_errors {
  padding: 2px;
  background-color: #5A91EE;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

#error_explanation {
  font-weight: bold;
  width: 450px;
  border: 2px solid #5A91EE;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: white;
  color: #5A91EE;
  margin-left: auto;
  margin-right: auto;
  // opacity: 0.7;



  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #5A91EE;
    color: #fff;

  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
